GROQ_API_KEY=your_groq_key_here
SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_key_here
PODCAST_INDEX_KEY=your_podcast_index_key_here
PODCAST_INDEX_SECRET=your_podcast_index_secret_here